@model MyBlog.Services.ViewModels.Posts.Request.PostsViewModel
@{
    ViewData["Title"] = "Список статей";

    var checkRole = User.IsInRole("Admin") || User.IsInRole("Moderator");
    var claimUserId = User.Claims.FirstOrDefault(c => c.Type == "UserID")?.Value;

    string labelClasses = checkRole
        ? "col-sm-4 mb-0 font-m75 form-text text-end"
        : "col mb-0 font-m75 form-text text-end";
}

<h3 class="mt-5">Все статьи</h3>
<a asp-action="Create" asp-controller="Post" class="mb-3 text-decoration-none">Добавить статью</a>

<div class="row justify-content-center">
    @foreach (var post in Model.Posts)
    {
        <div class="card m-3 col-10">
            <div class="card-body">
                <a class="fs-5 mb-0 link-primary text-decoration-none" asp-action="View"
               asp-controller="Post" asp-route-id="@post.Id" asp-route-userId="@claimUserId">
                    @post.Title
                </a>
                <div class="mb-4">
                    @foreach (var tag in post.Tags)
                    {
                        <span class="badge tag-badge" onclick="document.getElementById('@(tag.Id)').submit()">
                            @tag.Name
                        </span>
                        <form class="d-none" id="@tag.Id" method="get" asp-action="GetPosts" asp-controller="Post" asp-route-tagId="@tag.Id"></form>
                    }
                </div>
                <div class="row">
                    @if(checkRole || (!checkRole && claimUserId == post.UserId.ToString()))
                    {
                        <div class="col-sm-8" >
                            <form method="post" asp-action="Remove" asp-controller="Post" asp-route-id="@post.Id" >
                            <input type="hidden" name="userId" value="@claimUserId" />
                                <div class="btn-group">
                                    <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-controller="Post" asp-route-id="@post.Id" asp-route-userId="@claimUserId">
                                        Редактировать
                                    </a>
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Удалить</button>
                                </div>
                            </form>
                        </div>
                    }
                    <p class="@labelClasses">Просмотров: @post.Users.Count</p>
                </div>
            </div>
        </div>
    }
</div>