@model MyBlog.App.ViewModels.Posts.PostsViewModel
@{
    ViewData["Title"] = "Список статей";

    string labelClasses = User.IsInRole("Admin") || User.IsInRole("Moderator")
        ? "col-sm-4 mb-0 font-m75 form-text text-end"
        : "col-12 mb-0 font-m75 form-text text-end";
}

<h3 class="mt-5">Все статьи</h3>
<a asp-action="Create" asp-controller="Post" class="mb-3 text-decoration-none">Добавить статью</a>

<div class="row justify-content-center">
    @foreach (var post in Model.Posts)
    {
        <div class="card m-3 col-10">
            <div class="card-body">
                <a class="fs-5 mb-0 link-primary text-decoration-none" href="#">@post.Title</a>
                <div class="mb-4">
                    @foreach (var tag in post.Tags)
                    {
                        <span class="badge bg-primary">@tag.Name</span>
                    }
                </div>
                <div class="row">
                    @if(User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <div class="col-sm-8" >
                            <form method="post" asp-action="Remove" asp-controller="Post" asp-route-id="@post.Id">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-controller="Post" asp-route-id="@post.Id">
                                        Редактировать
                                    </a>
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Удалить</button>
                                </div>
                            </form>
                        </div>
                    }
                    <p class="@labelClasses">Просмотров: 0</p>
                </div>
            </div>
        </div>
    }
</div>