@model MyBlog.App.ViewModels.Posts.PostsViewModel
@{
    ViewData["Title"] = "Список статей";
}

<style>
    table {
        border: 2px solid gray;
    }

    th {
        border: 2px solid gray;
        padding: 3px;
        background-color: cornflowerblue;
    }

    td {
        border: 2px solid gray;
        padding: 3px;
    }
</style>

<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Заголовок</th>
            <th>Контент</th>
            <th>ID создателя</th>
            <th>Теги</th>
            <th>Дата созадния</th>
            <th>Комментарии</th>
            <th></th>
            <th></th>
        </tr>
        @foreach(var post in Model.Posts)
        {
            <tr>
                <td>@post.Id</td>
                <td>@post.Title</td>
                <td>
                    <details>
                        <summary>Раскрыть</summary>
                        @post.Content
                    </details>
                </td>
                <td>@post.UserId</td>
                <td>
                    <details>
                        <summary>Раскрыть</summary>
                        @string.Join(", ", post.Tags.Select(t => t.Name))
                    </details>
                </td>
                <td>@post.CreatedDate.ToString("dd-MM-yyyy")</td>
                <td>
                    <details>
                        <summary>Раскрыть</summary>
                        @string.Join(" || ", post.Comments.Select(c => c.Text))
                    </details>
                </td>
                <td>
                    <form method="post" asp-controller="Post" asp-action="Remove" asp-route-id="@post.Id">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
                <td>
                    <form method="get" asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">
                        <button type="submit">Редактировать</button>
                    </form>
                </td>
                <td>
                    <form method="get" asp-controller="Comment" asp-action="Create">
                        <input type="hidden" value="@post.Id" name="postId"/>
                        <input type="hidden" value="@User.Claims.FirstOrDefault(c => c.Type == "UserID")?.Value" name="userId" />
                        <button type="submit">Добавить комментарий</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>