@model MyBlog.App.ViewModels.Comments.CommentsViewModel
@{
    ViewData["Title"] = "Список комментариев";
    var checkRole = User.IsInRole("Admin") || User.IsInRole("Moderator");
    var claimUserId = User.Claims.FirstOrDefault(c => c.Type == "UserID")?.Value;
}

<h3 class="mt-5">Все комментарии</h3>
<div class="row justify-content-center">
    @foreach (var comment in Model.Comments)
    {
        <div class="card m-3 col-9">
            <div class="card-body">
                <div class="ps-4">
                    <span class="text-muted">Статья:</span>
                    <a class="mb-0 me-4 link-primary" asp-action="View"
                        asp-controller="Post" asp-route-id="@comment.PostId" asp-route-userId="@claimUserId">
                            @comment.Post.Title
                    </a>
                    <span class="text-muted">Пользователь:</span>
                    <a class="mb-0 link-primary" asp-action="View"
                        asp-controller="User" asp-route-id="@comment.UserId">
                            @comment.User.UserName
                    </a>
                </div>

                <p class="form-text">@comment.Text</p>
                
                <div class="d-flex justify-content-end">
                    <form method="post" asp-action="Remove" asp-controller="Comment" asp-route-id="@comment.Id">
                        <input type="hidden" name="userId" value="@claimUserId" />

                        <div class="btn-group">
                            <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-controller="Comment" asp-route-id="@comment.Id">
                                Редактировать
                            </a>
                            <button type="submit" class="btn btn-outline-danger btn-sm">Удалить</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    }
</div>