@using Microsoft.AspNetCore.Identity;
@using MyBlog.Data.DBModels.Users;
@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link" asp-action="GetTags" asp-controller="Tag">Теги</a>
        </li>
        @if(User.IsInRole("Admin") || User.IsInRole("Moderator"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="GetComments" asp-controller="Comment">Комментарии</a>
            </li>
        }
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="GetUsers" asp-controller="User">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="GetRoles" asp-controller="Role">Роли</a>
            </li>
        }
    </ul>

    <ul class="navbar-nav">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown">
                @User.Identity!.Name
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" id="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item @(Context.Request.Path == "/EditUser" ? "disabled" : "")" asp-action="Edit" asp-controller="User"
                   asp-route-id="@User.Claims.FirstOrDefault(c => c.Type == "UserID")?.Value">Профиль</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li>
                    <a class="dropdown-item" href="#" onclick="document.getElementById('logout').submit()">Выход</a>
                    <form id="logout" method="post" asp-controller="User" asp-action="Logout" 
                        asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)"
                        asp-route-userId="@User.Claims.FirstOrDefault(c => c.Type == "UserID")?.Value"></form>
                </li>
            </ul>
        </li>
    </ul>    
}
else
{
    <ul class="navbar-nav flex-grow-1 justify-content-end">
        @if(Context.Request.Path != "/Register")
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="Register">Регистрация</a>
            </li>
        }
        @if(Context.Request.Path != "/Login")
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="Login">Войти</a>
            </li>
        }        
    </ul>
}
