@model MyBlog.Services.ViewModels.Users.Request.UserEditViewModel
@{
    ViewData["Title"] = "Редактирование пользователя";

    var returnUrl = Context.Request.Query["returnUrl"];
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>

<div class="max-width-550 m-auto">
    <form class="mt-5" method="post" asp-controller="User" asp-action="Edit">
        <h3>Редактирование пользователя</h3>
        <hr class="hr" />
        <div asp-validation-summary="ModelOnly" class="text-danger fs-6"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ReturnUrl" value="@returnUrl" />

        @if (User.IsInRole("Admin"))
        {
            <div class="row">
                @foreach (var role in Model.AllRoles)
                {
                    <div class="col-md-3 col-sm-4">
                        <div class="form-check">
                            @if(role == "User")
                            {
                                <input type="hidden" name="User" value="on" />
                            }
                            <input class="form-check-input" type="checkbox" id="@role" @(role == "User" ? "disabled" : "")
                                   name="@(role != "User" ? $"{role}" : "")" @(Model.Roles.Contains(role) ? "checked" : "") />
                            <label class="from-check-label @(role == "User" ? "text-secondary" : "")" for="@role">
                                @role
                            </label>
                        </div>
                    </div>
                }
            </div>
            <hr class="hr"/>
        }

        <div class="form-group mb-4 position-relative">
            <div class="row">
                <label asp-for="FirstName" class="form-label col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="FirstName" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="FirstName" class="text-danger error-message"></span>
        </div>

        <div class="form-group mb-4 position-relative">
            <div class="row">
                <label asp-for="SecondName" class="form-label col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="SecondName" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="SecondName" class="text-danger error-message"></span>
        </div>

        <div class="form-group mb-4 position-relative">
            <div class="row">
                <label asp-for="LastName" class="form-label col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="LastName" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="LastName" class="text-danger error-message"></span>
        </div>

        <div class="form-group mb-4 position-relative">
            <div class="row">
                <label asp-for="Email" class="form-label col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="Email" class="text-danger error-message"></span>
        </div>

        <div class="form-group mb-4 position-relative">
            <div class="row">
                <label asp-for="BirthDate" class="form-label col-sm-6 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="BirthDate" type="date" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="BirthDate" class="text-danger error-message"></span>
        </div>

        <div class="form-group mb-4 position-relative">
            <div class="row">
                <label asp-for="Login" class="form-label col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Login" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="Login" class="text-danger error-message"></span>
        </div>

        <div class="form-group mb-4 position-relative">
            <div class="row">
                <label asp-for="Photo" class="form-label"></label>
                <input asp-for="Photo" class="form-control" />
            </div>
            <span asp-validation-for="Photo" class="text-danger error-message"></span>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Сохранить</button>
        <p class="form-text"><a asp-action="Index" asp-controller="Home" asp-route-returnUrl="@returnUrl"
            class="text-decoration-none">
            Выйти без сохранения
        </a></p>
    </form>
</div>
